*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(28, 25, 59, 0.5);
    color: white;
    background-color: blueviolet;

}

button:hover{
    background-color: rgb(79, 25, 129);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgba(43, 63, 7, 0.925);
}

header .logo{
    margin: 10;
    padding: 5px 10px;
    font-weight: bold;
    color: rgb(248, 238, 246);
    font-size: 2.0em;
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}



header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5px;
}

header a{
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(151, 141, 5);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    
    ,url("./images/lago1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero h1{
    color: white;
}

#somos-aventureros .container{
    text-align: center;
    padding: 200px 12px;
}

#somos-aventureros{
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
}

#nuestras-actividades{
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
}

#nuestras-actividades .container{
    padding: 150px 12px;

}

#nuestras-actividades p{
    display: none;
}

#nuestras-actividades h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestras-actividades .actividades{
    background-position: bottom center;
    background-size: cover;
    padding: 50px 0px;
    margin: 12px;
    border-radius: 20px;
}

.actividades:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(./images/camping3.jpg);
        
}

.actividades:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(./images/montañas1.jpg);
        
}

.actividades:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(./images/gotcha1.jpg);
        
}
#ventajas .container{
    text-align: center;
    padding: 250px 12px;
}

#ventajas li{
    margin: 16px 0px;
    font-weight: bold;

}

#final  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header {
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;

    }
    

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        

    }

    #somos-aventureros .container{
        display: flex;
        justify-content: center;

    }

    #somos-aventureros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-aventureros .img-container{
       background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
        ), url(./images/camping1.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;


    }

    #nuestras-actividades .programas{
        display: flex;
        justify-content: center;
    }

    #nuestras-actividades p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-actividades h3{
        margin-top: 0;
    }

    #nuestras-actividades .actividades{
        padding: 50px;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #ventajas {
        background-image: url(./images/lago2.jpg);
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 400px) 120px;
    }

    #ventajas .container{
        text-align: initial;
      
    }

    #ventajas ul{
        margin-left: 10;
    }

    #final h2{
        font-size: 5em;

    }

    #final button{
        font-size: 2em;
    }

footer .container{
        justify-content: flex-end;
    }



}

@media (min-width: 1300px){
    #ventajas {

        background-position-x: calc(100vw - 800px);
    }
}
